<?xml version="1.0" encoding="utf-8"?>
<config>
    <log>
        <config>../settings/log_config.xml</config>
    </log>
    <http>:8802</http>
    <time-zone>Asia/Shanghai</time-zone>
    <session>
        <auth-token-secret>auth_token_secret_some1</auth-token-secret>
    </session>

    <mysql>
        <host>10.235.102.249</host>
        <port>3306</port>
        <database>db_workflow</database>
        <username>root</username>
        <password>root</password>
    </mysql>
</config>