<?xml version="1.0" encoding="utf-8"?>
<config>
    <log>
        <config>../settings/log_config.xml</config>
    </log>
    <http>:8801</http>
    <!-- 参考antd 语言包设置 英文：en  中文: zh-cn  日文: ja  韩文:ko  中文繁体：zh-tw  越南文： vi -->
    <language>ja</language>

    <mysql>
        <host>10.235.102.249</host>
        <port>3306</port>
        <database>db_workflow</database>
        <username>root</username>
        <password>root</password>
    </mysql>
</config>