.col {
    border: 1px solid #d2d2d2;
    flex-grow: 1;
    width: 20%;
    height: 100%;
    margin: 0 6px;
    background: #eee;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.col-header {
    height: 40px;
    line-height: 40px;
    background: #1DA921;
    color: #fff;
    text-align: center;
    font-size: 22px;
    box-shadow: 5px 6px 3px rgb(82, 85, 47);
}


.col-header-0 {
    background: #46463c;
    color: #f00;
}

.col-header-1 {
    background: #c0be56;
    color: rgb(20, 19, 19);
}

.col-header-2 {
    background: #6eec4e;
    color: rgb(24, 20, 20);
}

.col-header-3 {
    background: #6892ec;
    color: #fff;
}

.col-header-4 {
    background: #044ff0;
    color: #fff;
}

.col-header-5 {
    background: #777779;
    color: #fff;
}

.col-main {
    overflow: auto;
    flex-grow: 1;
}
.col-main.active {
    background: #00ad23;
    opacity: 0.1;
}